DIARIES_CONNECTION_STRING=Host=db;Database=webdiary;Username=webdiary;Password=webdiary_password
API_CONNECTION=http://localhost:5281
JWT_TOKEN_KEY=YourSuperSecretKeyHereChangeIt
MailgunApiKey=YourMailgunApiKeyHereChangeIt
NODE_ENV=development
ASPNETCORE_ENVIRONMENT=Development
