DIARIES_CONNECTION_STRING=Host=db;Database=webdiary;Username=webdiary;Password=webdiary_password
API_CONNECTION=http://backend:5281 # Adjust according to your backend SERVICE name (in docker compose) and port
JWT_TOKEN_KEY=YourSuperSecretKeyHereChangeIt
# Email feature (experimental/in development - not yet available publicly)
# MAILGUN_API_KEY=your-mailgun-api-key
NODE_ENV=development
ASPNETCORE_ENVIRONMENT=Development
