DIARIES_CONNECTION_STRING=Host=db;Database=webdiary;Username=webdiary;Password=webdiary_password
API_CONNECTION=http://backend:5281 # Adjust according to your backend SERVICE name (in docker compose) and port
JWT_TOKEN_KEY=YourSuperSecretKeyHereChangeIt

# OAuth (optional)
# AUTHENTICATION__GOOGLE__CLIENTID=your-google-client-id
# AUTHENTICATION__GOOGLE__CLIENTSECRET=your-google-client-secret
# AUTHENTICATION__GITHUB__CLIENTID=your-github-client-id
# AUTHENTICATION__GITHUB__CLIENTSECRET=your-github-client-secret

# Email feature (experimental/in development - not yet available publicly)
# MAILGUN_API_KEY=your-mailgun-api-key
NODE_ENV=development
ASPNETCORE_ENVIRONMENT=Development
