@page "/"

<PageTitle>Home</PageTitle>

<h1>Testing AuthorizeView</h1>

<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity!.Name!</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not logged in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    

}
