@page "/"
@inject IStringLocalizer<Resources.MainResource> Localizator

<PageTitle>MyDiary</PageTitle>


<AuthorizeView>
    <Authorized>
        <h1>@Localizator["HomePageTitleAuth"]@context.User.Identity!.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>@Localizator["HomePageTitleNoAuth"]</h1>
    </NotAuthorized>
</AuthorizeView>
<p>@Localizator["HomePageText"]</p>
