@page "/"

<PageTitle>Home</PageTitle>


<AuthorizeView>
    <Authorized>
        <h1>Welcome, @context.User.Identity!.Name!</h1>
        <p>@homeText</p>
    </Authorized>
    <NotAuthorized>
        <h1>Home</h1>
        <p>@homeText</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    string homeText = "This is main page of Web-diary app, here is no functionality to be realistic, and i, as developer don't know what to add here.\nJust ignore this page, it's useless.";

}
