@page "/NotFoundResource"

<PageTitle>MyDiary</PageTitle>

<h3>404 - Not found</h3>

<p>@text</p>

@code {
    private string text { get; set; } = "Resource for which you asked hasn't been found.";

}
