@inherits LayoutComponentBase
@inject IStringLocalizer<Resources.LayoutResource> Localizator

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="content px-4">
        @Body
    </main>
    <div>
        <SelectLanguage />
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    @Localizator["ErrorOccured"]
    <a href="." class="reload">@Localizator["Reload"]</a>
    <span class="dismiss">🗙</span>
</div>
