@inject DiaryGroupClient DiaryGroupClient
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Web-diary</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @if(groups is null) {
            <p>Loading...</p>
        } else {
            @foreach(var group in groups!) {
                <div class="nav-item px-3 d-flex">
                    <NavLink class="nav-link" href="@($"Diary/{group.Id}")" Match="NavLinkMatch.All">
                        <span class="bi bi-pencil-square-nav-menu" />
                        @if(group.Name.Length > 10) {
                            <p class="mt-3">@group.Name.Substring(0, 10)...</p>
                        } else {
                            <p class="mt-3">@group.Name</p>
                        }
                        <div class="d-flex position-buttons">
                            <button type="button" class="btn btn-secondary bi bi-pencil-square-nav-menu" @onclick="() => modal!.OpenForEditing(group)" />
                            <button type="button" class="btn btn-danger btn-close" @onclick="() => modal!.OpenForDeleting(group)" />
                        </div>
                    </NavLink>
                </div>
            }
        }
        <WebDiary.Frontend.Components.Pages.AddGroupDialogue @ref="modal" />

        <div class="nav-item px-3 d-flex">
            <button class="btn btn-primary transparent-color" type="button" @onclick="() => modal.Open()">
                <span class="bi bi-pencil-square-nav-menu" aria-hidden="true" /> Create new thematic group
            </button>
        </div>
        
    </nav>
</div>

@code {
    List<DiaryGroup>? groups;
    private WebDiary.Frontend.Components.Pages.AddGroupDialogue? modal;

    protected async override Task OnInitializedAsync() {
        groups = await DiaryGroupClient.GetGroupsAsync();
        await base.OnInitializedAsync();
    }

}