@page "/Users/EmailSended"

<PageTitle>Diary - Email sended</PageTitle>

<h3>@message</h3>


@code {
    public string message = "Message has been sended succesfully. Check your email, maybe message will come after few minutes.";

}
